# Build output
bin/
obj/
*.exe
*.pdb
*.dll
!vxlapi_NET.dll
!vxlapi64.dll
!vxlapi.dll

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
packages/
*.nupkg
project.lock.json

# Logs
*.log
